@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

:root {
    --primary-color: #302ae6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 90%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}

.post-meta {
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    em

{
    margin-left: 10px;
    font-size: 1rem;
}

}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .theme-switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
